@page "/"

@using ChartJs.Blazor;
@using ChartJs.Blazor.LineChart
@using ChartJs.Blazor.PieChart
@using ChartJs.Blazor.Util

<PageTitle>Index</PageTitle>

<h1>Chart.js!</h1>

<h2>Pie Chart</h2>
<!-- Stap 4 -->

<h2>Line Chart</h2>

@code {
    private readonly string[] _labels = {"Yes", "No", "Maybe??", "unknown"};
    private readonly int[] _data = {6, 5, 3, 7};
    
    // Stap 5.1

    
    protected override void OnInitialized()
    {
        // Stap 5.2
        

        // Stap 6
        

        // Stap 7
        
    }
}